<h1>Home Page</h1>


<div class="container">
 <br>
 <form id="finding-cities">
   <div>
     <label> Search city: </label>
     <input type="text" id="city">
   </div>
    <input type="submit" value="Search" id="search">
  </form>
</div>

<div class="newcontainer"> </div>
